parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - .
    bootstrapFiles:
        - vendor/bitexpert/phpstan-magento/autoload.php
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
    ignoreErrors:
        - '/ has no return typehint specified./'

        - message: '/Use service contracts to persist entities in favour of Magento\\Cron\\Model\\Schedule\:\:save\(\) method/'
          path: Cron/ScheduleJob.php

        - message: '/Parameter \#1 \$autoload_function of function spl_autoload_register expects callable\(string\)\: void, array\(Magento\\Framework\\TestFramework\\Unit\\Autoloader\\GeneratedClassesAutoloader/'
          path: Test/bootstrap.php
