<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <url_data_integrity_checker>
            <configuration>
                <filestorage_path>var/tmp</filestorage_path>
            </configuration>
        </url_data_integrity_checker>
    </default>
</config>
