<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Baldwin_UrlDataIntegrityChecker::catalog_data_integrity"   title="Data Integrity Checker" translate="title" module="Baldwin_UrlDataIntegrityChecker" parent="Magento_Catalog::catalog"                                sortOrder="100" dependsOnModule="Magento_Catalog"                                 resource="Baldwin_UrlDataIntegrityChecker::catalog_data_integrity"/>
        <add id="Baldwin_UrlDataIntegrityChecker::catalog_category_urlpath" title="Category Url Path"      translate="title" module="Baldwin_UrlDataIntegrityChecker" parent="Baldwin_UrlDataIntegrityChecker::catalog_data_integrity" sortOrder="100" action="baldwin_urldataintegritychecker/catalog_category_urlPath" resource="Baldwin_UrlDataIntegrityChecker::catalog_data_integrity"/>
        <add id="Baldwin_UrlDataIntegrityChecker::catalog_category_urlkey"  title="Category Url Key"       translate="title" module="Baldwin_UrlDataIntegrityChecker" parent="Baldwin_UrlDataIntegrityChecker::catalog_data_integrity" sortOrder="110" action="baldwin_urldataintegritychecker/catalog_category_urlKey"  resource="Baldwin_UrlDataIntegrityChecker::catalog_data_integrity"/>
        <add id="Baldwin_UrlDataIntegrityChecker::catalog_product_urlpath"  title="Product Url Path"       translate="title" module="Baldwin_UrlDataIntegrityChecker" parent="Baldwin_UrlDataIntegrityChecker::catalog_data_integrity" sortOrder="200" action="baldwin_urldataintegritychecker/catalog_product_urlPath"  resource="Baldwin_UrlDataIntegrityChecker::catalog_data_integrity"/>
        <add id="Baldwin_UrlDataIntegrityChecker::catalog_product_urlkey"   title="Product Url Key"        translate="title" module="Baldwin_UrlDataIntegrityChecker" parent="Baldwin_UrlDataIntegrityChecker::catalog_data_integrity" sortOrder="210" action="baldwin_urldataintegritychecker/catalog_product_urlKey"   resource="Baldwin_UrlDataIntegrityChecker::catalog_data_integrity"/>
    </menu>
</config>
