<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="url_data_integrity_checker" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
            <label>Url Data Integrity Checker</label>
            <tab>catalog</tab>
            <resource>Baldwin_UrlDataIntegrityChecker::config_data_integrity</resource>
            <group id="configuration" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                <label>Configuration</label>
                <field id="filestorage_path" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Path to store results</label>
                    <comment>Path where to store json files, can be either an absolute or a relative path</comment>
                </field>
                <field id="only_check_visible_products" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Don't check for problems with invisible products</label>
                    <comment>Sometimes you want to focus on products that are visible only, because Magento (at least in recent versions) only generated url rewrites for products that are visible. Be aware, after switching this config setting that you should re-run the checkers.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
